#popup_this {
    top: 50%;
    left: 30%;
    right:30%;
    text-align:center;
    position: fixed;
    background: #fff;
    padding: 30px;
  }
  .b-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #fff;
    background: #ff0000;
    padding: 5px 10px;
  }

@media(max-width:680px){
	#title{
		font-size: 30px;
    }
}
@media(max-width:430px){
	#title{
		font-size: 20px;
    }
}
@media(max-width:330px){
	#title{
		font-size: 15px;
    letter-spacing: 5px;
    }
}